* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Spectral SC SemiBold";
    src: url("../fonts/Spectralscmedium.ttf");
}

body {
    font-family: Montserrat,sans-serif;
    background-color: #d5d9da;
}

.main-image {
    /*background-image: url("../images/main-image.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*height: 811px;*/
    width: 100%;
}

.main-img {
    max-width: 100%;
}

.header {
    background-color: #dde0db;
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.header .menu {
    margin-left: 354px;
    display: inline-block;
    vertical-align: middle;
}

.header .menu ul {
    list-style: none;
    font-size: 0;
}

.header .menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 28px;
}

.header .menu ul li a {
    font-size: 16px;
    color: rgb(70, 80, 85);
    line-height: 1.2;
    text-decoration: none;
}

.header .menu ul li a:hover {
    color: black;
}

.header-actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: 94px;
}

.button {
    font-size: 16px;
    line-height: 11px;
    padding: 14px;
    border-radius: 20px;
    width: 205px;
    cursor: pointer;
    border: 0;
}

.button.button-transparent {
    color: rgb(121, 136, 144);
    background-color: transparent;
    border: 1px solid #818282;
}

.gallery {
    padding: 102px 0 55px;
}

.gallery h2 {
    font-size: 40px;
    font-family: "Spectral SC SemiBold", sans-serif;
    color: rgb(47, 40, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 54px;
    text-align: center;
}

.gallery-description {
    font-size: 18px;
    color: rgb(62, 52, 44);
    line-height: 1.2;
    margin-bottom: 18px;
    text-align: center;
}

.gallery-items {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
    /*text-align: center;*/
}

.gallery-item {
    margin: 12px 11px;
    display: inline-block;
    vertical-align: middle;
    width: 384px;
    height: 258px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.gallery-item.gallery-item-big {
    width: 792px;
}

.gallery-text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.gallery-eye {
    display: none;
    opacity: 0.6;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    /*text-align: center;*/
    /*line-height: 290px;*/
}

.gallery-eye img {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 20.5px);
    /*left: 157px;*/
    /*top: 109px;*/
    /*vertical-align: middle;*/
}

/*.gallery-item.gallery-item-big .gallery-eye img {*/
/*    position: absolute;*/
/*    left: 361px;*/
/*    top: 109px;*/
/*}*/

.gallery-item:hover .gallery-eye {
    display: block;
}

.tours {
    padding: 54px 0 88px;
}

.tours h2 {
    font-size: 40px;
    font-family: "Spectral SC SemiBold", sans-serif;
    color: rgb(47, 40, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
}

.tours-items {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
}

.tour-item {
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: 384px;
    position: relative;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.tour-item:hover {
    border: 3px solid rgb(47, 40, 34);
}

.tour-item-image img {
    max-width: 100%;
}

.tour-item-info {
    background-color: #31393f;
    padding: 22px 22px 40px;
}

.tour-item-text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

.button.button-filled {
    background-color: #da8246;
    font-size: 18px;
    color: rgb(37, 41, 43);
}

.tour-item-action {
    text-align: center;
}

.button.button-filled:hover {
    box-shadow: 0px 4px 14.25px 0.75px rgba(217, 149, 103, 0.8);
}

.fix-block {
    height: 46px;
    width: 46px;
    background-color: #da8246;
    text-align: center;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

.fix-block img {
    vertical-align: middle;
}

.footer {
    background-color: #31393f;
    padding: 54px 0 49px;
    font-size: 0;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 899px;
}

.contacts-header {
    font-size: 18px;
    color: rgb(167, 185, 197);
    line-height: 1.2;
}

.tel {
    font-size: 14px;
    color: rgb(131, 145, 156);
    line-height: 1.2;
}
